body {
  margin: 0;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: navy;
  background-color: rgb(244, 162, 226);
}

h1, h2, p {
  margin: 0;
}

h1{
  font-size: 3em;
  margin-bottom: 10px;
}





.book-container {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  text-align: left;
  gap: 10px;
  margin-bottom: 20px;
  

}
.card {

  background-color: pink;
  padding: 10px 10px 0 10px;
  border-radius: 10px;
  border: 7px solid navy;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;

}

.card p {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 10px;
}

.card button {
  border: 3px solid navy;
  color: navy;
  align-self: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 0.9em;
}

caption {
  padding: 10px;
  font-style: italic;
  letter-spacing: 4px;
}




form {
  border: 1px solid rgb(11, 19, 108);
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
  letter-spacing: 1px;
  background-color: navy;
  color: pink;
}

form input {
  flex: 1;
}

button {
  cursor: pointer;
  appearance: none;
  border-radius: 5px;
}
button:hover,
button:focus {
  background: navy;
  color: pink;
}


button, 
input {
  font-family: inferit;
  font-size: 100%;
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;
  border: 5px solid pink;
  border-radius: 5px;

}

input:focus {
  border: 10px solid pink;
}

.form-btn {
  color: navy;
  border: 5px solid navy;
}



