body {
  margin: 0;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: navy;
  background-color: rgb(244, 162, 226);
}

h1 {
  font-size: 3em;
}

.book-container {
  display: flex;
  text-align: left;
  gap: 10px;
  margin-bottom: 20px;

}
.card {
  background-color: pink;
  padding: 10px;
  border-radius: 10px;
  border: 7px solid navy;

}

caption {
  padding: 10px;
  font-style: italic;
  letter-spacing: 4px;
}




form {
  border: 1px solid rgb(11, 19, 108);
  border-radius: 5px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
  letter-spacing: 1px;
  background-color: navy;
  color: pink;
}

form input {
  flex: 1;
}

button {
  cursor: pointer;
  appearance: none;
  border-radius: 5px;
}
button:hover,
button:focus {
  background: rgb(156, 14, 244);
  color: #fff;
}


button, 
input {
  font-family: inferit;
  font-size: 100%;
  margin-bottom: 20px;
  padding: 0;
  box-sizing: border-box;
}




/* table {
  font-style: italic;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid rgb(11, 19, 108);
  margin-bottom: 50px;
  
}


thead th:nth-child(1){
  width: 30%;
}
thead th:nth-child(2){
  width: 30%;
}
thead th:nth-child(3){
  width: 20%;
}
thead th:nth-child(4){
  width: 20%;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

th, 
td {
  padding: 8px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tbody th,
tbody td{
  background-color: rgb(242, 214, 180);
  border: 3px solid rgb(11, 19, 108);
}

thead,
tfoot {
  background-color: rgb(237, 147, 36);
  color: rgb(11, 19, 108);
}

thead th,
tfoot  {
  border: 3px solid rgb(11, 19, 108);
} */
